    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

        <header>
        </header>

        <div id="main_logo">
            <%=image_tag("main_logo.png", alt: "main_logo")%>
        </div>

        <section id="images_langage">
            <%=image_tag("left-arrow-head.png", alt: "Example Image")%>
              <%=image_tag("spain.png", alt: "Example Image")%>
              <%=image_tag("france.png", alt: "Example Image")%>
              <%=image_tag("united-kingdom.png", alt: "Example Image")%>
            <%=image_tag("right-arrow-head.png", alt: "Example Image")%>
        </section>

        <footer>
        </footer>
